body{background-color: blueviolet;}
h1{color: chartreuse;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
