body{background-color: rgb(218, 98, 13);}
h1{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: white;
    text-align: center;
    text-decoration: underline;
    text-shadow: 50px;
    }
#l1,#l2{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: x-large;
        font-weight: 100;
        text-decoration-color: rgb(0, 0, 0);
        text-decoration: underline;
        display: block;
        margin: 5px;
        }
#pizza,#precio{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    font-weight: 100;
    background-color: white;
    text-decoration-color: black;
    text-align: center;
}
